body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 0.5rem;
}
h1,h2{
background-color: blueviolet;
padding: 10px;
color: #fff;
}
.centralizar{
    text-align: center;
}


footer{
    margin-top: 200px;
}
